:host{
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
    .contact-options{
        width: 20em;
    }
    .transactions{
        align-self: flex-start;
        background-color: #53a8b6;
        max-width: max-content;
        flex-direction: column;
        border-radius: 1em;
        padding: 1em;
        box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
    }
}